# Pandas

### Базовые операции с `DataFrame`

In [ ]:
import pandas as pd

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [ ]:
recipes = pd.read_csv('recipes_sample.csv', delimiter = ',')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [ ]:
reviews = pd.read_csv('reviews_sample.csv', delimiter = ',', index_col = 0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [ ]:
print('Кол-во строк в таблице recipes_sample:', len(recipes.index))
print('Кол-во столбцов в таблице recipes_sample:', len(recipes.columns))
print('Тип данных каждого столбца таблицы recipes_sample:', recipes.dtypes)
print('Кол-во строк в таблице reviews_sample:', len(reviews.index))
print('Кол-во столбцов в таблице reviews_sample:', len(reviews.columns))
print('Тип данных каждого столбца таблицы reviews_sample', reviews.dtypes)

Кол-во строк в таблице recipes_sample: 30000
Кол-во столбцов в таблице recipes_sample: 8
Тип данных каждого столбца таблицы recipes_sample: name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object
Кол-во строк в таблице reviews_sample: 126696
Кол-во столбцов в таблице reviews_sample: 5
Тип данных каждого столбца таблицы reviews_sample user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
print(30000-len(recipes.dropna()))
print('Информация о таблице recipes_sample: ', recipes.info())
print('Доля строк с пропусками в таблице recipes_sample: ', 1-len(recipes.dropna())/len(recipes.index))
print('Информация о таблице reviews_sample: ', reviews.info())
print('Доля строк с пропусками в таблице reviews_sample: ', 1-len(reviews.dropna())/len(reviews.index))

17054
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  object
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.8+ MB
Информация о таблице recipes_sample:  None
Доля строк с пропусками в таблице recipes_sample:  0.5684666666666667
<class 'pandas.core.frame.DataFrame'>
Int64Index: 126696 entries, 370476 to 691207
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    126696 non-null  int64
 1   recipe_id  126696 non-null  int64
 2   date       126696 non-null  object
 3   rating     126696 non-null  int64
 4   review     126679 non-null  object
dtypes: int64(3), object(2)
memory usage: 5.8+ MB
Информация о таблице reviews_sample:  None
Доля строк с пропусками в таблице reviews_sample:  0.00013417945317928393

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
print('Таблица "recipes". Среднее значение столбца minutes: ', recipes["minutes"].mean())
print('Таблица "recipes". Среднее значение столбца n_steps: ', recipes["n_steps"].mean())
print('Таблица "recipes". Среднее значение столбца n_ingredients: ', recipes["n_ingredients"].mean())
print('Таблица "reviews". Среднее значение столбца rating: ', reviews["rating"].mean())

Таблица "recipes". Среднее значение столбца minutes:  123.35813333333333
Таблица "recipes". Среднее значение столбца n_steps:  9.805582137161085
Таблица "recipes". Среднее значение столбца n_ingredients:  9.008285984848484
Таблица "reviews". Среднее значение столбца rating:  4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
random_r = recipes['name'].sample(10)
random_r

15161                          kahlua iced coffee
13182    halloumi cheese with lemon and olive oil
7298                  coconut lychee rice pudding
26807             sweetened whipped cream fraiche
19428                             orange nut cake
2359             basic  baked macaroni and cheese
20877                                pink cookies
12278                          gooey caramel bars
24168                   silken lemon creme brulee
23178                   salisbury steak and gravy
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
reviews.index = [i for i in range(len(reviews))]
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
special_r = recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]
special_r

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
recipes_2010 = recipes[recipes['submitted'] <= '2010']
reviews_2010 = reviews[reviews['date'] <= '2010']
display(recipes_2010, reviews_2010)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
5,35106,31322,2003-01-03,4,I forgot to add skim milk but it still tasted ...
...,...,...,...,...,...
126687,231110,127827,2005-07-25,4,Sounds bvery much like a Quessadilla ( I don't...
126689,204452,70522,2005-03-21,5,Delicious! My entire family enjoyed the corned...
126690,724631,314698,2008-10-14,5,"5 Stars, The Hunter said the mushrooms and sau..."
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
recipes2 = recipes.copy()
recipes2['description_length'] = recipes['description'].str.len()
recipes2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
recipes2['name'] = recipes2['name'].str.title()
recipes2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [ ]:
recipes2['name_word_count'] = recipes['name'].str.split().str.len()
recipes2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
print(recipes['contributor_id'].value_counts())
print('Максимальное кол-во рецептов у участника: ', recipes["contributor_id"].value_counts().index[0])

89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: contributor_id, Length: 8404, dtype: int64
Максимальное кол-во рецептов у участника:  89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [ ]:
print('Кол-во рецептов без отзывов: ', sum(reviews["review"].isnull()))
display(reviews.groupby('recipe_id').mean()[['rating']])

Кол-во рецептов без отзывов:  17

C:\Users\Даша\AppData\Local\Temp\ipykernel_10828\3534315131.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  display(reviews.groupby('recipe_id').mean()[['rating']])

             rating
recipe_id
48         1.000000
55         4.750000
66         4.944444
91         4.750000
94         5.000000
...             ...
536547     5.000000
536610     0.000000
536728     4.000000
536729     4.750000
536747     0.000000

[28100 rows x 1 columns]

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
y = recipes.groupby(recipes["submitted"].dt.year)["name"].count()
y

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
new_recipes = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id')[['id', 'name', 'user_id', 'rating', 'review']]
display(new_recipes[new_recipes['review'].isna()])

,id,name,user_id,rating,review
13806,107786,beth s melt in your mouth barbecue ribs oven,2002060663,5,NaN
17294,335709,breaded pork chops,2001959957,5,NaN
30956,15553,clove and cinnamon tea,2002299388,4,NaN
32840,86868,corned beef and cabbage in guinness,1803237930,5,NaN
52165,3662,german chocolate sauerkraut cake,2001779476,4,NaN
67420,89207,kittencal s chocolate frosting icing,2002057405,5,NaN
70385,9054,leftover mashed potato pancakes,2001567544,5,NaN
70392,9054,leftover mashed potato pancakes,2001508809,5,NaN
70422,9054,leftover mashed potato pancakes,2001826405,5,NaN
75469,25190,meal in a bowl noodle soup for 1 double fo...,2002252901,5,NaN
82967,522925,one banana bread muffins,2001346906,4,NaN
113000,524744,thanksgiving piecaken,2001785348,5,NaN
113580,155430,the easiest simplest vegan bread ever,2001658714,5,NaN
119940,391660,ultimate cream of tomato soup,1800574364,5,NaN
121450,245231,vegan spelt banana bread,2002005298,5,NaN
122964,167202,weight watchers chicken pot pie,2002120930,4,NaN
125080,128956,ww 0 point weight watchers cabbage soup,2001380233,5,NaN

In [ ]:
new_recipes = new_recipes.dropna()
display(new_recipes)
print(recipes[recipes['id'] == '107786'])

,id,name,user_id,rating,review
0,44123,george s at the cove black bean soup,743566,5,I lived in San Diego for 19 years and would g...
1,44123,george s at the cove black bean soup,76503,5,This soup is the Bomb! Don't hesitate to try.....
2,44123,george s at the cove black bean soup,34206,5,I just can't say enough about how wonderful th...
3,67664,healthy for them yogurt popsicles,494084,5,These are great! I use 100% (organic) juice a...
4,67664,healthy for them yogurt popsicles,303445,5,"Very, very good. My son loves these. He like..."
...,...,...,...,...,...
126691,486161,zydeco soup,305531,5,Delish! I made this as directed but used a smo...
126692,486161,zydeco soup,1271506,5,Now the only substitution I made was African B...
126693,486161,zydeco soup,724631,5,"Very tasty soup, moderate spiciness (even afte..."
126694,486161,zydeco soup,133174,5,Very yummy indeed. A spicy sausage was used i...
126695,298512,cookies by design cookies on a stick,804234,1,I would rate this a zero if I could. I followe...

Empty DataFrame
Columns: [name, id, minutes, contributor_id, submitted, n_steps, description, n_ingredients]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
new_table = reviews.groupby('recipe_id')['review'].count()
review_count = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id')[['recipe_id', 'name']]
review_count = pd.merge(review_count, new_table, on='recipe_id')
review_count = review_count.rename(columns={'review': 'review_count'})
review_count = review_count.drop_duplicates().sort_values(by='review_count')
display(review_count)

,recipe_id,name,review_count
126695,298512,cookies by design cookies on a stick,1
89681,190622,pistachio cream pie,1
89674,354254,pistachio and almond cake with orange salad,1
43897,326058,easy butter bars cake mix,1
89673,427667,piselli al prosciutto sweet peas with prosciutto,1
...,...,...,...
113925,50719,the sweetest blueberry muffins,486
13635,107786,beth s melt in your mouth barbecue ribs oven,591
47270,135350,fannie farmer s classic baked macaroni cheese,674
68278,82102,kittencal s moist cheddar garlic oven fried ch...,708
115136,27208,to die for crock pot roast,1382

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [ ]:
reviews['rating'].groupby(pd.DatetimeIndex(reviews['date']).year).mean().sort_values()

date
2017    3.353042
2000    3.384615
2018    3.504076
2016    3.912603
2015    4.047145
2014    4.110595
2001    4.134426
2013    4.274168
2011    4.302045
2012    4.341427
2010    4.454440
2002    4.481556
2008    4.484635
2009    4.524728
2003    4.526940
2004    4.546548
2007    4.547077
2005    4.563680
2006    4.603673
Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [ ]:
recipes2.sort_values(by='name_word_count').to_csv('sorted_recipes_sample_data.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
with pd.ExcelWriter('merge.xlsx') as writer:
    new_recipes.to_excel(writer, sheet_name='Рецепты с оценками')
    review_count.to_excel(writer, sheet_name='Количество отзывов по рецептам')